# MongoDB
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/port-russell?retryWrites=true&w=majority

# JWT
JWT_SECRET=votre_secret_jwt_super_securise

# Session
SESSION_SECRET=votre_secret_session_super_securise

# Environment
NODE_ENV=production
PORT=3000
